#headline{
	margin:0px auto;
	margin-bottom: 0;
	background-color: black;
}
img{
	width:100%;
	height:auto;
	margin-bottom: 0;
}

h1{
	font-family: gillsans, sans-serif;
	font-size: 70px;

	color:white;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px;
}
span[color="darkred"]{
	color:darkred;
}
span[color="white"]{
	color:white;
}
h4{
	color:white;
	padding: 20px;
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: 'PT Serif', serif;
}
h5{
	color:darkred;
	padding: 20px;
	padding-top: 5px;
	margin-bottom: 0;
	margin-top: 0;
}
.cr{
	color:dimgrey;
	padding:20px;
	padding-top: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: black;
	font-size: 12px;
	font-family: 'PT Serif', serif;
}


div{
	background-color: black;
}
.intro{
	margin-bottom: 0;
	margin-top: 0;
	font-size: 20px;
	text-align: justify;
	background-color: darkred;
}
#intro{
	font-family: 'PT Serif', serif;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
}


.wrap {
	display: flex;
    width: 100%;
    overflow:auto;
    margin-top: 0;
}
.question{
	flex:1;
	float:left; 
    width: 50%;
    background-color: darkred;
	padding-top: 30px;
	padding-bottom: 30px;
	border:2px darkred;
	border-bottom: 3px solid black;
}

.q{ 
	font-family: 'PT Serif', serif;
	font-size: 20px;
	text-align: justify;
	padding-right: 80px;
	padding-left: 20px;
	overflow:auto;
}

.answer{
	flex:1;
	float:right; 
    width: 50%;
    background-color: black;
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid darkred;
}
.a{
	font-family: 'PT Serif', serif;
	font-size: 20px;
	color:white;
	padding-left: 80px;
	padding-right: 20px;
	text-align: justify;
	overflow:auto;
}